<h2>Book Flight</h2>

<p-card>    
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="grid">
            <div class="xl:col-12">
                <div class="inline-flex">
                    <p-radiobutton formControlName="tripType" inputId="one-way" name="tripType" value="One Way" />
                    <label for="one-way" class="text-sm ml-1">One Way</label>
                </div>
                <div class="inline-flex ml-2">
                    <p-radiobutton formControlName="tripType" inputId="round-trip" name="tripType" value="Round Trip" />
                    <label for="round-trip" class="text-sm ml-1">Round Trip</label>
                </div>
            </div>
            <div class="xl:col-4">
                <label>From:</label>
                <p-select formControlName="from" class="w-full" [options]="cities" optionLabel="name"
                    optionValue="name" />
            </div>
            <div class="xl:col-4">
                <label>To:</label>
                <p-select formControlName="to" class="w-full" [options]="cities" optionLabel="name"
                    optionValue="name" />
            </div>
            <div class="xl:col-4">
                <label>Class:</label>
                <p-select formControlName="class" class="w-full" [options]="classTypes" optionLabel="name"
                    optionValue="name" />
            </div>
            <div class="xl:col-4">
                <label>Travelers:</label>
                <p-select formControlName="travelers" class="w-full" [options]="travellersTypes" optionLabel="name"
                    optionValue="name" />
            </div>
            <div class="xl:col-4">
                <label>Departure Date:</label>
                <p-datepicker formControlName="date" styleClass="w-full" [minDate]="today" dateFormat="dd/mm/yy" />
            </div>
            @if(form.get('tripType')?.value === 'Round Trip'){
            <div class="xl:col-4">
                <label class="block">Return Date</label>
                <p-datepicker formControlName="returnDate" styleClass="w-full" [minDate]="today" [numberOfMonths]="2" dateFormat="dd/mm/yy" />
            </div>
            }
        </div>
        <div class="grid">
            <div class="xl:col-4">
                <p-button label="Search Flights" type="submit" styleClass="w-full" [disabled]="form.invalid" />
            </div>
        </div>
    </form>
</p-card>

<p-toast></p-toast>
