@if(stateManagementService.isLoggedIn()){
<header class="p-2" [ngClass]="{ 'headerCollapse': sideBarService.showSidebar }">
    <div class="flex justify-content-between">
        <div class="flex gap-3 align-items-center">
            <a (click)="toggleSidebar()">
                <i class="pi pi-bars"></i>
            </a>
        </div>
        <div class="flex justify-content-between gap-2 align-items-center">
            @if(stateManagementService.loggedInUser()){
            <div class="flex gap-3 align-items-center">
                <span>
                    Welcome, <strong>{{ stateManagementService.loggedInUser().name }}</strong> |
                    Role: {{ stateManagementService.loggedInUser().role === 0 ? 'Admin' : 'User' }}
                </span>
                <p-button icon="pi pi-power-off" label="Logout" (onClick)="logout()" class="ml-2"></p-button>
            </div>
            }

            <a class="relative mr-3">
                <i class="pi pi-cart-plus"></i>
                @if(cartCount > 0){
                <span class="cart-count absolute">
                    {{ cartCount }}
                </span>
                }
            </a>
        </div>
    </div>
</header>
}