footer {
    background-color: var(--color-white);
    position: fixed;
    left: 300px;
    width: calc(100% - 300px);
    box-shadow: 0 .5rem 1rem #2c33491a;
    transition: width .5s ease-in-out, left .5s ease-in-out;
    color: var(--color-black);
    bottom: 0;

    &.footerCollapse {
        width: calc(100% - 70px);
        left: 70px;
    }
}