<div class="login-wrap flex justify-content-center pt-6 pb-6">
  <p-card styleClass="p-login-card">
    <div class="p-2">
      <img src="assets/images/logo.png" alt="LOGO" class="logo">
    </div>
    <p-tabs value="0">
      <p-tablist>
        <p-tab value="0">Login</p-tab>
        <p-tab value="1">Register</p-tab>
      </p-tablist>
      <p-tabpanels>
        <p-tabpanel value="0">
          <app-form-login></app-form-login>
        </p-tabpanel>
        <p-tabpanel value="1">
          <app-form-register></app-form-register>
        </p-tabpanel>
      </p-tabpanels>
    </p-tabs>
  </p-card>
</div>