<div class="grid">
    <div class="xl:col-6">
        <div class="grid">
            <div class="xl:col-4">
                @if (isDone) {
                <p>I am a Beginner</p>
                }
                @else {
                <p>I am a PRO</p>
                }
            </div>
            <div class="xl:col-8">
                <div class="grid">
                    <div class="xl:col-6">
                        <input type="text" pInputText [(ngModel)]="boxVal" class="w-full">
                    </div>
                    <div class="xl:col-6">
                        <h5>{{boxVal}}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="xl:col-6">
        <p-button styleClass="mr-1" label="Go To Recipes" (click)="goToRecipes($event)" />
        <p-button label="Go To Employees" (click)="goToEmployees($event)" />
    </div>
</div>

<div class="grid">
    @for (item of myData; track $index) {
    <div class="xl:col-6">
        <p-card>
            <a>
                <h1>{{item.id}}</h1>
                <h2>{{item.name}}</h2>
                <h3>{{item.designation}}</h3>
                <h4 [ngClass]="item.isAssigned ? 'color-black' : 'color-white'">
                    @if(item.isAssigned){
                    Yes
                    }
                    @else {No}
                </h4>
            </a>
        </p-card>
    </div>
    }
</div>