<!-- Employee Form -->
<h2>Employee Form</h2>

<p-card styleClass="mb-3">
    <div class="grid">
        <div class="xl:col-12">
            <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">

                <div class="grid">

                    <!-- First Name -->
                    <div class="xl:col-4">
                        <label class="flex mb-1">First Name</label>
                        <input type="text" pInputText formControlName="firstName" placeholder="Enter First Name"
                            class="w-full" pKeyFilter="alpha" />
                        <div *ngIf="formControls.firstName?.invalid && (formControls.firstName?.touched || formControls.firstName?.dirty)"
                            class="error">
                            <div *ngIf="formControls.firstName?.errors?.['required']">First Name is required.</div>
                        </div>
                    </div>

                    <!-- Last Name -->
                    <div class="xl:col-4">
                        <label class="flex mb-1">Last Name</label>
                        <input type="text" pInputText formControlName="lastName" placeholder="Enter Last Name"
                            class="w-full" pKeyFilter="alpha" />
                        <div *ngIf="formControls.lastName?.invalid && (formControls.lastName?.touched || formControls.lastName?.dirty)"
                            class="error">
                            <div *ngIf="formControls.lastName?.errors?.['required']">Last Name is required.</div>
                        </div>
                    </div>

                    <!-- DOB -->
                    <div class="xl:col-4">
                        <label class="flex mb-1">Birth date</label>
                        <p-datepicker formControlName="dateOfBirth" placeholder="Enter Birth Date" [maxDate]="today"
                            styleClass="w-full"
                            [ngClass]="{ 'ng-invalid ng-dirty': formControls.dateOfBirth?.invalid && (formControls.dateOfBirth?.touched || formControls.dateOfBirth?.dirty) }"></p-datepicker>
                        <div *ngIf="formControls.dateOfBirth?.invalid && (formControls.dateOfBirth?.touched || formControls.dateOfBirth?.dirty)"
                            class="error">
                            <div *ngIf="formControls.dateOfBirth?.errors?.['required']">Birth Date is required.</div>
                        </div>
                    </div>

                    <!-- Phone Number -->
                    <div class="xl:col-4">
                        <label class="flex mb-1">Phone</label>
                        <input pInputText formControlName="phone" placeholder="Enter Phone Number" pKeyFilter="num"
                            class="w-full" (keydown)="checkPhoneLength($event)" />
                        <div *ngIf="formControls.phone?.invalid && (formControls.phone?.touched || formControls.phone?.dirty)"
                            class="error">
                            <div *ngIf="formControls.phone?.errors?.['required']">Phone number is required.</div>
                            <div *ngIf="formControls.phone?.errors?.['pattern']">Phone number must be 10 digits and
                                not start with 0.
                            </div>
                        </div>
                    </div>

                    <!-- Email -->
                    <div class="xl:col-4">
                        <label class="flex mb-1">Email</label>
                        <input pInputText formControlName="email" placeholder="Enter Email Address" class="w-full" />
                        <div *ngIf="formControls.email?.invalid && (formControls.email?.touched || formControls.email?.dirty)"
                            class="error">
                            <div *ngIf="formControls.email?.errors?.['required']; else emailCheck">Email is required.
                            </div>
                            <ng-template #emailCheck>
                                <div *ngIf="formControls.email?.errors?.['email']; else patternCheck">Enter a valid
                                    email address.</div>
                            </ng-template>
                            <ng-template #patternCheck>
                                <div *ngIf="formControls.email?.errors?.['pattern']">Email format is invalid.</div>
                            </ng-template>
                        </div>

                    </div>

                    <!-- PAN Card Number -->
                    <div class="xl:col-4">
                        <label class="flex mb-1">PAN Card</label>
                        <input type="text" pInputText formControlName="pan" placeholder="Enter PAN Number"
                            class="w-full" pKeyFilter="alphanum" (input)="onPanInput($event)" />
                        <div *ngIf="formControls.pan?.invalid && (formControls.pan?.touched || formControls.pan?.dirty)"
                            class="error">
                            <div *ngIf="formControls.pan?.errors?.['required']">PAN Card number is required.</div>
                            <div *ngIf="formControls.pan?.errors?.['invalidPAN']">Please enter valid PAN Card
                                Number.</div>
                        </div>
                    </div>

                    <!-- Address -->
                    <div class="xl:col-4">
                        <label class="flex mb-1">Address</label>
                        <input type="text" pInputText formControlName="address" placeholder="Enter Address"
                            class="w-full" />
                        <div *ngIf="formControls.address?.invalid && (formControls.address?.touched || formControls.address?.dirty)"
                            class="error">
                            <div *ngIf="formControls.address?.errors?.['required']">Address is required.</div>
                        </div>
                    </div>

                    <!-- PIN Code -->
                    <div class="xl:col-4">
                        <label class="flex mb-1">PIN Code</label>
                        <input type="text" pInputText formControlName="pincode" placeholder="Enter PIN Code"
                            class="w-full" />
                        <div *ngIf="formControls.pincode?.invalid && (formControls.pincode?.touched || formControls.pincode?.dirty)"
                            class="error">
                            <div *ngIf="formControls.pincode?.errors?.['required']">PIN Code is required.</div>
                        </div>
                    </div>

                    <!-- Location Type -->
                    <div class="xl:col-4">
                        <label class="flex mb-1">Location Type</label>
                        <p-select formControlName="locationType" class="w-full" (onChange)="onLocationChange($event)"
                            [options]="locationTypes" optionLabel="name" optionValue="value"
                            placeholder="Select a Location" />
                        <div *ngIf="formControls.locationType?.invalid && (formControls.locationType?.touched || formControls.locationType?.dirty)"
                            class="error">
                            <div *ngIf="formControls.locationType?.errors?.['required']">Location Type is required.
                            </div>
                        </div>
                    </div>

                    <!-- Urban Field -->
                    @if (selectedLocationType === 0) {
                    <div class="xl:col-4">
                        <label class="flex mb-1">City</label>
                        <input pInputText formControlName="city" placeholder="Enter City Name" class="w-full" />
                        <div *ngIf="formControls.city?.invalid && (formControls.city?.touched || formControls.city?.dirty)"
                            class="error">
                            <div *ngIf="formControls.city?.errors?.['required']">City is required.</div>
                        </div>
                    </div>
                    }

                    <!-- Rural Fields -->
                    @else if(selectedLocationType === 1){

                    <!-- Taluka -->
                    <div class="xl:col-4">
                        <label class="flex mb-1">Taluka</label>
                        <input pInputText formControlName="taluka" placeholder="Enter Taluka Name" class="w-full" />
                        <div *ngIf="formControls.taluka?.invalid && (formControls.taluka?.touched || formControls.taluka?.dirty)"
                            class="error">
                            <div *ngIf="formControls.taluka?.errors?.['required']">Taluka is required.</div>
                        </div>
                    </div>

                    <!-- Panchayat -->
                    <div class="xl:col-4">
                        <label class="flex mb-1">Panchayat</label>
                        <input pInputText formControlName="panchayatName" placeholder="Enter Panchayat Name"
                            class="w-full" />
                        <div *ngIf="formControls.panchayatName?.invalid && (formControls.panchayatName?.touched || formControls.panchayatName?.dirty)"
                            class="error">
                            <div *ngIf="formControls.panchayatName?.errors?.['required']">Panchayat Name is required.
                            </div>
                        </div>
                    </div>
                    }
                </div>

                <!-- Form Buttons -->
                <div class="grid mt-2">
                    <div class="xl:col-2">
                        <p-button icon="pi pi-check" label="Submit" type="Submit" styleClass="w-full" [disabled]="employeeForm.invalid" />
                    </div>
                    <div class="xl:col-2">
                        <p-button icon="pi pi-trash" label="Clear" type="Reset" severity="danger" styleClass="w-full" (click)="onClear()" [disabled]="!isClearEnabled" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</p-card>

<!-- Employee DataTable -->
<h2>Submitted Employee Records</h2>

<p-card>
    <p-table [value]="users" styleClass="white-space-nowrap" stripedRows [paginator]="true" [rows]="10"
        [rowsPerPageOptions]="[5, 10, 20]">
        <ng-template #header pTemplate="header">
            <tr>
                <th>Actions</th>
                <th>ID</th>
                <th>PAN</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Birth Date</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Address</th>
                <th>PIN Code</th>
                <th>Location Type</th>
                <th>City</th>
                <th>Taluka</th>
                <th>Panchayat</th>
            </tr>
        </ng-template>

        @if (users.length){
        <ng-template #body pTemplate="body" let-emp>
            <tr>
                <td>
                    <p-button tooltipPosition="bottom" pTooltip="Edit" icon="pi pi-pencil" [rounded]="true"
                        [text]="true" severity="info" (click)="onEdit(emp)" styleClass="mr-2" />
                    <p-button tooltipPosition="bottom" pTooltip="Delete" icon="pi pi-trash" [rounded]="true"
                        [text]="true" severity="danger" (click)="onDelete(emp.id)" />
                </td>
                <td>{{ emp.id }}</td>
                <td>{{ emp.pan }}</td>
                <td>{{ emp.firstName }}</td>
                <td>{{ emp.lastName }}</td>
                <td>{{ emp.dateOfBirth }}</td>
                <td>{{ emp.email }}</td>
                <td>{{ emp.phone }}</td>
                <td>{{ emp.address }}</td>
                <td>{{ emp.pincode }}</td>
                <td>{{ emp.locationType === 0 ? 'Urban' : 'Rural'}}</td>
                <td>{{ emp.city || '-' }}</td>
                <td>{{ emp.taluka || '-' }}</td>
                <td>{{ emp.panchayatName || '-' }}</td>
            </tr>
        </ng-template>
        }
        @else {
        <ng-template #emptymessage>
            <tr>
                <td colspan="12" class="text-center">No Data Found.</td>
            </tr>
        </ng-template>
        }
    </p-table>
</p-card>

<p-confirmDialog></p-confirmDialog>
<p-toast></p-toast>