<div class="flex justify-content-between mb-3">
    <h2>All Recipes</h2>
    <p-button label="Add Recipe" (click)="addRecipes()" />
</div>

<p-tabs value="0">
    <p-tablist>
        <p-tab value="0">Approved Recipes</p-tab>
        <p-tab value="1">Pending Recipes</p-tab>
        <p-tab value="2">Online Recipes</p-tab>
        <p-tab value="3">All Recipes</p-tab>
    </p-tablist>
    <p-tabpanels>

        <!-- Approved Recipes -->
        <p-tabpanel value="0">
            @if(approvedRecipes.length){
            @for (item of approvedRecipes || []; track $index) {
            <h4>{{ item.id }}. {{item.name}}</h4>
            <p-card styleClass="mb-4">
                <div class="grid">
                    <div class="xl:col-2">
                        @if(item.image){
                        <img [src]="item.image" alt="Recipe Image" />
                        }
                    </div>
                    <div class="xl:col-10">
                        <div class="grid">
                            <div class="xl:col-4 pb-0">
                                <strong>Id:</strong>
                                <div>{{ item.id }}</div>
                            </div>
                            <div class="xl:col-4 pb-0">
                                <strong>User Id:</strong>
                                <div>{{ item.userId }}</div>
                            </div>
                            <div class="xl:col-4 pb-0">
                                <strong>Name:</strong>
                                <div>{{ item.name }}</div>
                            </div>
                            <div class="xl:col-4 pb-0">
                                <strong>Cuisine:</strong>
                                <div>{{ item.cuisine }}</div>
                            </div>
                            <div class="xl:col-4 pb-0">
                                <strong>Calories Per Serving:</strong>
                                <div>{{ item.caloriesPerServing }}</div>
                            </div>
                            <div class="xl:col-4 pb-0">
                                <strong>Cooking Time:</strong>
                                <div>{{ item.cookTimeMinutes }} mins</div>
                            </div>
                            <div class="xl:col-4 pb-0">
                                <strong>Preparation Time:</strong>
                                <div>{{ item.prepTimeMinutes }} mins</div>
                            </div>
                            <div class="xl:col-4 pb-0">
                                <strong>Difficulty:</strong>
                                <div>{{ item.difficulty }}</div>
                            </div>
                            <div class="xl:col-4 pb-0">
                                <strong>Rating:</strong>
                                <div>{{ item.rating || '-' }}</div>
                            </div>
                            <div class="xl:col-4 pb-0">
                                <strong>Review Count:</strong>
                                <div>{{ item.reviewCount || '-' }}</div>
                            </div>
                            <div class="xl:col-4 pb-0">
                                <strong>Servings:</strong>
                                <div>{{ item.servings }}</div>
                            </div>
                            <div class="xl:col-12 pb-0">
                                <strong>Tags:</strong>
                                <div>{{ item.tags }}</div>
                            </div>

                            <!-- <div class="xl:col-12">
                                                            <strong>Ingredients:</strong>
                                                            <ol>
                                                                @for (ingredient of item.ingredients; track $index) {
                                                                <li>{{ ingredient }}</li>
                                                                }
                                                            </ol>
                                                        </div> -->

                            <!-- <div class="xl:col-12">
                                                            <strong>Instructions:</strong>
                                                            <ol>
                                                                @for (instruction of item.instructions; track $index) {
                                                                <li>{{ instruction }}</li>
                                                                }
                                                            </ol>
                                                        </div> -->
                        </div>
                    </div>
                </div>
            </p-card>
            }
            }
            @else {
            <p>No approved recipes yet.</p>
            }
        </p-tabpanel>

        <!-- Pending Recipes -->
        <p-tabpanel value="1">
            @if(pendingRecipes.length){
            @for (item of pendingRecipes || []; track $index) {
            <h4>{{ item.id }}. {{item.name}}</h4>
            <p-card styleClass="mb-4">
                <div class="grid">
                    <div class="xl:col-2">
                        @if(item.image){
                        <img [src]="item.image" alt="Recipe Image" />
                        }
                    </div>
                    <div class="xl:col-10">
                        <div class="grid">
                            <div class="xl:col-4 pb-0">
                                <strong>Id:</strong>
                                <div>{{ item.id }}</div>
                            </div>
                            <div class="xl:col-4 pb-0">
                                <strong>User Id:</strong>
                                <div>{{ item.userId }}</div>
                            </div>
                            <div class="xl:col-4 pb-0">
                                <strong>Name:</strong>
                                <div>{{ item.name }}</div>
                            </div>
                            <div class="xl:col-4 pb-0">
                                <strong>Cuisine:</strong>
                                <div>{{ item.cuisine }}</div>
                            </div>
                            <div class="xl:col-4 pb-0">
                                <strong>Calories Per Serving:</strong>
                                <div>{{ item.caloriesPerServing }}</div>
                            </div>
                            <div class="xl:col-4 pb-0">
                                <strong>Cooking Time:</strong>
                                <div>{{ item.cookTimeMinutes }} mins</div>
                            </div>
                            <div class="xl:col-4 pb-0">
                                <strong>Preparation Time:</strong>
                                <div>{{ item.prepTimeMinutes }} mins</div>
                            </div>
                            <div class="xl:col-4 pb-0">
                                <strong>Difficulty:</strong>
                                <div>{{ item.difficulty }}</div>
                            </div>
                            <div class="xl:col-4 pb-0">
                                <strong>Rating:</strong>
                                <div>{{ item.rating || '-' }}</div>
                            </div>
                            <div class="xl:col-4 pb-0">
                                <strong>Review Count:</strong>
                                <div>{{ item.reviewCount || '-' }}</div>
                            </div>
                            <div class="xl:col-4 pb-0">
                                <strong>Servings:</strong>
                                <div>{{ item.servings }}</div>
                            </div>
                            <div class="xl:col-12 pb-0">
                                <strong>Tags:</strong>
                                <div>{{ item.tags }}</div>
                            </div>

                            <!-- <div class="xl:col-12">
                                                    <strong>Ingredients:</strong>
                                                    <ol>
                                                        @for (ingredient of item.ingredients; track $index) {
                                                        <li>{{ ingredient }}</li>
                                                        }
                                                    </ol>
                                                </div> -->

                            <!-- <div class="xl:col-12">
                                                    <strong>Instructions:</strong>
                                                    <ol>
                                                        @for (instruction of item.instructions; track $index) {
                                                        <li>{{ instruction }}</li>
                                                        }
                                                    </ol>
                                                </div> -->
                        </div>
                    </div>
                </div>
            </p-card>
            }
            }
            @else {
            <p>No pending recipes.</p>
            }
        </p-tabpanel>

        <!-- Online Recipes -->
        <p-tabpanel value="2">
            @for (item of onlineRecipes || []; track $index) {
            <h4>{{ item.id }}. {{item.name}}</h4>
            <p-card styleClass="mb-4">
                <div class="grid">
                    <div class="xl:col-2">
                        @if(item.image){
                        <img [src]="item.image" alt="Recipe Image" />
                        }
                    </div>
                    <div class="xl:col-10">
                        <div class="grid">
                            <div class="xl:col-4 pb-0">
                                <strong>Id:</strong>
                                <div>{{ item.id }}</div>
                            </div>
                            <div class="xl:col-4 pb-0">
                                <strong>User Id:</strong>
                                <div>{{ item.userId }}</div>
                            </div>
                            <div class="xl:col-4 pb-0">
                                <strong>Name:</strong>
                                <div>{{ item.name }}</div>
                            </div>
                            <div class="xl:col-4 pb-0">
                                <strong>Cuisine:</strong>
                                <div>{{ item.cuisine }}</div>
                            </div>
                            <div class="xl:col-4 pb-0">
                                <strong>Calories Per Serving:</strong>
                                <div>{{ item.caloriesPerServing }}</div>
                            </div>
                            <div class="xl:col-4 pb-0">
                                <strong>Cooking Time:</strong>
                                <div>{{ item.cookTimeMinutes }} mins</div>
                            </div>
                            <div class="xl:col-4 pb-0">
                                <strong>Preparation Time:</strong>
                                <div>{{ item.prepTimeMinutes }} mins</div>
                            </div>
                            <div class="xl:col-4 pb-0">
                                <strong>Difficulty:</strong>
                                <div>{{ item.difficulty }}</div>
                            </div>
                            <div class="xl:col-4 pb-0">
                                <strong>Rating:</strong>
                                <div>{{ item.rating || '-' }}</div>
                            </div>
                            <div class="xl:col-4 pb-0">
                                <strong>Review Count:</strong>
                                <div>{{ item.reviewCount || '-' }}</div>
                            </div>
                            <div class="xl:col-4 pb-0">
                                <strong>Servings:</strong>
                                <div>{{ item.servings }}</div>
                            </div>
                            <div class="xl:col-12 pb-0">
                                <strong>Tags:</strong>
                                <div>{{ item.tags }}</div>
                            </div>

                            <!-- <div class="xl:col-12">
                                                    <strong>Ingredients:</strong>
                                                    <ol>
                                                        @for (ingredient of item.ingredients; track $index) {
                                                        <li>{{ ingredient }}</li>
                                                        }
                                                    </ol>
                                                </div> -->

                            <!-- <div class="xl:col-12">
                                                    <strong>Instructions:</strong>
                                                    <ol>
                                                        @for (instruction of item.instructions; track $index) {
                                                        <li>{{ instruction }}</li>
                                                        }
                                                    </ol>
                                                </div> -->
                        </div>
                    </div>
                </div>
            </p-card>
            }
        </p-tabpanel>

        <!-- All Recipes -->
        <p-tabpanel value="3">
            @if(allRecipes.length){
            @for (item of allRecipes || []; track $index) {
            <h4>{{ item.id }}. {{item.name}}</h4>
            <p-card styleClass="mb-4">
                <div class="grid">
                    <div class="xl:col-2">
                        @if(item.image){
                        <img [src]="item.image" alt="Recipe Image" />
                        }
                    </div>
                    <div class="xl:col-10">
                        <div class="grid">
                            <div class="xl:col-4 pb-0">
                                <strong>Id:</strong>
                                <div>{{ item.id }}</div>
                            </div>
                            <div class="xl:col-4 pb-0">
                                <strong>User Id:</strong>
                                <div>{{ item.userId }}</div>
                            </div>
                            <div class="xl:col-4 pb-0">
                                <strong>Name:</strong>
                                <div>{{ item.name }}</div>
                            </div>
                            <div class="xl:col-4 pb-0">
                                <strong>Cuisine:</strong>
                                <div>{{ item.cuisine }}</div>
                            </div>
                            <div class="xl:col-4 pb-0">
                                <strong>Calories Per Serving:</strong>
                                <div>{{ item.caloriesPerServing }}</div>
                            </div>
                            <div class="xl:col-4 pb-0">
                                <strong>Cooking Time:</strong>
                                <div>{{ item.cookTimeMinutes }} mins</div>
                            </div>
                            <div class="xl:col-4 pb-0">
                                <strong>Preparation Time:</strong>
                                <div>{{ item.prepTimeMinutes }} mins</div>
                            </div>
                            <div class="xl:col-4 pb-0">
                                <strong>Difficulty:</strong>
                                <div>{{ item.difficulty }}</div>
                            </div>
                            <div class="xl:col-4 pb-0">
                                <strong>Rating:</strong>
                                <div>{{ item.rating || '-' }}</div>
                            </div>
                            <div class="xl:col-4 pb-0">
                                <strong>Review Count:</strong>
                                <div>{{ item.reviewCount || '-' }}</div>
                            </div>
                            <div class="xl:col-4 pb-0">
                                <strong>Servings:</strong>
                                <div>{{ item.servings }}</div>
                            </div>
                            <div class="xl:col-12 pb-0">
                                <strong>Tags:</strong>
                                <div>{{ item.tags }}</div>
                            </div>

                            <!-- <div class="xl:col-12">
                                                            <strong>Ingredients:</strong>
                                                            <ol>
                                                                @for (ingredient of item.ingredients; track $index) {
                                                                <li>{{ ingredient }}</li>
                                                                }
                                                            </ol>
                                                        </div> -->

                            <!-- <div class="xl:col-12">
                                                            <strong>Instructions:</strong>
                                                            <ol>
                                                                @for (instruction of item.instructions; track $index) {
                                                                <li>{{ instruction }}</li>
                                                                }
                                                            </ol>
                                                        </div> -->
                        </div>
                    </div>
                </div>
            </p-card>
            }
            }
            @else {
            <p>No recipes to show.</p>
            }
        </p-tabpanel>
    </p-tabpanels>
</p-tabs>

<!-- Add Recipe Form -->
<p-dialog header="Add Recipe" [modal]="true" [(visible)]="recipesFormVisible" [style]="{ width: '40rem' }">
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
        <div class="grid">
            <div class="xl:col-6">
                <label class="block">Name</label>
                <input pInputText formControlName="name" />
                @if(formControls.name?.invalid && (formControls.name?.touched || formControls.name?.dirty)){
                @if(formControls.name?.errors?.['required']){
                <div class="error">
                    <div>Name Id is required.</div>
                </div>
                }
                }
            </div>
            <div class="xl:col-6">
                <label class="block">Cuisine</label>
                <input pInputText formControlName="cuisine" />
                @if(formControls.cuisine?.invalid && (formControls.cuisine?.touched || formControls.cuisine?.dirty)){
                @if(formControls.cuisine?.errors?.['required']){
                <div class="error">
                    <div>Cuisine is required.</div>
                </div>
                }
                }
            </div>
            <div class="xl:col-6">
                <label class="block">Calories Per Serving</label>
                <input pInputText formControlName="caloriesPerServing" pKeyFilter="num" />
                @if(formControls.caloriesPerServing?.invalid && (formControls.caloriesPerServing?.touched ||
                formControls.caloriesPerServing?.dirty)){
                @if(formControls.caloriesPerServing?.errors?.['required']){
                <div class="error">
                    <div>Calories Per Serving is required.</div>
                </div>
                }
                }
            </div>
            <div class="xl:col-6">
                <label class="block">Cook Time</label>
                <input pInputText formControlName="cookTimeMinutes" pKeyFilter="num" />
                @if(formControls.cookTimeMinutes?.invalid && (formControls.cookTimeMinutes?.touched ||
                formControls.cookTimeMinutes?.dirty)){
                @if(formControls.cookTimeMinutes?.errors?.['required']){
                <div class="error">
                    <div>Cooking Time is required.</div>
                </div>
                }
                }
            </div>
            <div class="xl:col-6">
                <label class="block">Preparation Time</label>
                <input pInputText formControlName="prepTimeMinutes" pKeyFilter="num" />
                @if(formControls.prepTimeMinutes?.invalid && (formControls.prepTimeMinutes?.touched ||
                formControls.prepTimeMinutes?.dirty)){
                @if(formControls.prepTimeMinutes?.errors?.['required']){
                <div class="error">
                    <div>Preparation Time is required.</div>
                </div>
                }
                }
            </div>
            <div class="xl:col-6">
                <label class="block">Difficulty</label>
                <input pInputText formControlName="difficulty" />
                @if(formControls.difficulty?.invalid && (formControls.difficulty?.touched ||
                formControls.difficulty?.dirty)){
                @if(formControls.difficulty?.errors?.['required']){
                <div class="error">
                    <div>Difficulty Time is required.</div>
                </div>
                }
                }
            </div>
            <!-- <div class="xl:col-6">
                <label class="block">Rating</label>
                <input pInputText formControlName="rating" pKeyFilter="num" />
                @if(formControls.rating?.invalid && (formControls.rating?.touched || formControls.rating?.dirty)){
                @if(formControls.rating?.errors?.['required']){
                <div class="error">
                    <div>Rating Time is required.</div>
                </div>
                }
                }
            </div> -->
            <!-- <div class="xl:col-6">
                <label class="block">Review Count</label>
                <input pInputText formControlName="reviewCount" pKeyFilter="num" />
                @if(formControls.reviewCount?.invalid && (formControls.reviewCount?.touched ||
                formControls.reviewCount?.dirty)){
                @if(formControls.reviewCount?.errors?.['required']){
                <div class="error">
                    <div>Review Count Time is required.</div>
                </div>
                }
                }
            </div> -->
            <div class="xl:col-6">
                <label class="block">Servings</label>
                <input pInputText formControlName="servings" pKeyFilter="num" />
                @if(formControls.servings?.invalid && (formControls.servings?.touched || formControls.servings?.dirty)){
                @if(formControls.servings?.errors?.['required']){
                <div class="error">
                    <div>Servings is required.</div>
                </div>
                }
                }
            </div>
            <div class="xl:col-6">
                <label class="block">Tags</label>
                <p-autocomplete formControlName="tags" multiple fluid (completeMethod)="onTagsType($event)"
                    [typeahead]="false" />
                @if(formControls.tags?.invalid && (formControls.tags?.touched || formControls.tags?.dirty)){
                @if(formControls.tags?.errors?.['required']){
                <div class="error">
                    <div>Tags are required.</div>
                </div>
                }
                }
            </div>
            <div class="xl:col-6">
                <label class="block">Image</label>
                <input type="file" accept="image/*" (click)="onImageSelected($event)" #fileInput hidden />
                <p-button icon="pi pi-image" label="Select Image" (click)="fileInput.click()" />
                @if(imagePreview){
                <div class="mt-2">
                    <img [src]="imagePreview" alt="Preview" />
                </div>
                }                
            </div>
        </div>
        <div class="flex justify-content-end gap-2">
            <p-button label="Cancel" severity="secondary" (click)="recipesFormVisible = false" />
            <p-button label="Save" [type]="'submit'" [disabled]="recipeForm.invalid" />
        </div>
    </form>
</p-dialog>