@import url('../node_modules/primeflex/primeflex.css');
@import url('../src/assets/scss/fonts.scss');
@import url('../src/assets/scss/overrides.scss');
@import "primeicons/primeicons.css";

:root {
    --color-white: #fff;
    --color-black: #000;
    --color-blue: #12689f;
}

html,
body {
    height: 100%;
    overflow: hidden;
    margin: 0;
}

body {
    margin: 0;
    box-sizing: border-box;
    color: var(--color-black);
    font-family: 'Open Sans';
    font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0.5rem;
    color: var(--color-blue);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.container {
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-right: auto;
    margin-left: auto;

    @media only screen and (max-width: 768px) {
        padding-right: .625rem;
        padding-left: .625rem;
    }

    @media only screen and (min-width: 576px) {
        max-width: 540px;
    }

    @media only screen and (min-width: 768px) {
        max-width: 720px;

    }

    @media only screen and (min-width: 992px) {
        max-width: 960px;
    }

    @media only screen and (min-width: 1200px) {
        max-width: 1140px;
    }
}

.container-fluid {
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-right: auto;
    margin-left: auto;

    @media only screen and (max-width: 768px) {
        padding-right: .625rem;
        padding-left: .625rem;
    }

}

.grid {
    margin-top: 0;
}

.ng-invalid.ng-touched {
    border-color: red;
}

.error {
    color: red;
}

.p-inputtext,
.p-password {
    width: 100%
}

label {
    display: block;
    margin-bottom: 5px;
}

.form-group {
    margin-bottom: 10px;
}

.p-login-card {
    width: 500px;

    .p-card-body {
        padding: 0 10px;
    }
}

p {
    color: #e89209;
    font-weight: bold;
}