<form [formGroup]="registerForm" (ngSubmit)="onRegisterSubmit()">

    <!-- Name -->
    <div class="form-group">
        <label>Name</label>
        <input type="text" pInputText formControlName="name" placeholder="Enter Name" />
        @if(formControls.name?.invalid && (formControls.name?.touched || formControls.name?.dirty)){
        <div class="error">
            @if(formControls.name?.errors?.['required']){
            <div>Name is required.</div>
            }
        </div>
        }
    </div>

    <!-- Email -->
    <div class="form-group">
        <label>Email</label>
        <input type="text" pInputText formControlName="email" placeholder="Enter Email" />
        @if (formControls.email?.invalid && (formControls.email?.touched || formControls.email?.dirty)) {
        <div class="error">
            @if (formControls.email?.errors?.['required']) {
            <div>Email is required.</div>
            }
            @else {
            @if (formControls.email?.errors?.['email']) {
            <div>Enter a valid email address.</div>
            }
            @else {
            @if (formControls.email?.errors?.['pattern']) {
            <div>Email format is invalid.</div>
            }
            }
            }
        </div>
        }
    </div>

    <!-- Phone -->
    <div class="form-group">
        <label>Phone</label>
        <input type="text" pInputText formControlName="phone" placeholder="Enter Phone Number"
            (keydown)="checkPhoneLength($event)" pKeyFilter="num" />
        @if(formControls.phone?.invalid && (formControls.phone?.touched || formControls.phone?.dirty)){
        <div class="error">
            @if(formControls.phone?.errors?.['required']){
            <div>Phone number is required.</div>
            }
            @if(formControls.phone?.errors?.['pattern']){
            <div>Phone number must be 10 digits and not start with 0.
            </div>
            }
        </div>
        }
    </div>

    <!-- Password -->
    <div class="form-group">
        <label>Password</label>
        <p-password formControlName="password" [toggleMask]="true" placeholder="Enter pasword"
            [ngClass]="{ 'ng-invalid ng-dirty': formControls.password?.invalid && (formControls.password?.touched || formControls.password?.dirty) }" />
        @if(formControls.password?.invalid && (formControls.password?.touched || formControls.password?.dirty)){
        <div class="error">
            @if(formControls.password?.errors?.['required']){
            <div>Password is required.</div>
            }
        </div>
        }
    </div>

    <!-- Role -->
    <div class="form-group">
        <label>Role</label>
        <p-select formControlName="role" class="w-full" (onChange)="onRoleChange($event)" [options]="roles"
            optionLabel="name" optionValue="value" placeholder="Select Role" />
        @if(formControls.role?.invalid && (formControls.role?.touched || formControls.role?.dirty)){
        <div class="error">
            @if(formControls.role?.errors?.['required']){
            <div>Role is required.</div>
            }
        </div>
        }
    </div>

    <!-- Captcha -->
    <div class="form-group">
        <label>Human Check</label>
        <div class="flex align-items-center gap-2 justify-content-between mb-2">
            <div class="captcha-box">What is {{ captchaQuestion }}?</div>
            @if (!captchaVerified) {
                @if (showTimer) {
                <div>Refresh in: {{ countdown }} second{{ countdown > 1 ? 's' : '' }}</div>
                }
                @else {
                <p-button icon="pi pi-refresh" (click)="refreshCaptcha()" label="Refresh Captcha" />
                }
            }
        </div>
        <input type="text" pInputText formControlName="captchaInput" placeholder="Enter Captcha"
            (keyup)="validateCaptcha()" maxlength="2" />
        @if (formControls.captchaInput?.touched || formControls.captchaInput?.dirty) {
        <div>
            @if (formControls.captchaInput?.errors?.['required']) {
            <div class="error">Answer is required.</div>
            }
            @else if (captchaError) {
            <div class="error">Incorrect answer. Please try again.</div>
            }
            @else {
            <div class="success">Captcha Verified Successfully!</div>
            }
        </div>
        }
    </div>


    <!-- Submit Button -->
    <div class="form-group">
        <p-button icon="pi pi-check" label="Submit" type="Submit" styleClass="w-full"
            [disabled]="registerForm.invalid" />
    </div>
</form>

<p-toast></p-toast>